    <table width="600" height="536" cellspacing="0" cellpadding="0" border="0" style="background-color: #f1f3f5; margin: 0 auto; padding: 0;">
        <tr>
            <td>
                <center>
                    <img width="158" height="40" src="https://image.ibb.co/gpc7oz/logo.png" style="padding: 0 220px 40px"/>
                        <table width="520" height="376" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff; margin: 0 auto; padding: 40px">
                            <tr>
                                <td style="width: 192px; height: 48px; font-size: 28px; color: #222529; font-family: 'Arial'; font-weight: bold; text-transform: uppercase">
                                    Welcome to Happy Walker
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 440px; height: 40px; opacity: 0.9; font-size: 16px; font-family: 'Arial'; line-height: 1.5; color: #000000">
                                    Thanks for signing up. To send your first campaign, please verify your email address by clicking the button below.
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 157px; height: 40px">
                                    <a href="https://a-qa-frontend-happy-walker.herokuapp.com//confirmation_email?uid={{uid}}&token={{token}}" style="line-height: middle; text-decoration: none; text-transform: uppercase; padding: 12px 15px; border-radius: 4px; background-color: #01ce9f; color: #ffffff; font-family: 'Arial'; font-weight: bold">Verify Email</a>
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 440px; height: 40px; opacity: 0.9; font-size: 16px; font-family: 'Arial'; line-height: 1.5; color: #000000">
                                    Thanks,
                                    <br>Happy Walker Team
                                </td>
                            </tr>
                        </table>
                </center>
            </td>
        </tr>
    </table>
