<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="fonts/fonts.css" type="text/css"/>
    <title>Happy Walker</title>
</head>
<body>
    <table width="600" height="536" cellspacing="0" cellpadding="0" border="0" style="background-color: #f1f3f5; margin: 0 auto; padding: 0;">
        <tr>
            <td>
                <center>
                    <img width="158" height="40" src="./img/logo.png" style="padding: 0 220px 40px"/>
                        <table width="520" height="376" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff; margin: 0 auto; padding: 40px">
                            <tr>
                                <td style="width: 192px; height: 48px; font-size: 36px; color: #222529; font-family: 'BebasNeueBold'">
                                    Password reset
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 440px; height: 40px; opacity: 0.9; font-size: 16px; font-family: 'SourceSansPro-Regular'; line-height: 1.5">
                                    You told us you forgot your password. If you really did, click here <br> to choose a new one:
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 157px; height: 40px">
                                    <a href="{{host}}/reset_password?uid={{uid}}&token={{token}}" style="text-decoration: none; text-transform: uppercase; padding: 8px 15px; border-radius: 4px; background-color: #01ce9f; color: #ffffff; font-family: 'SourceSansPro-Semibold'">Reset password</a>
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 440px; height: 40px; opacity: 0.9; font-size: 16px; font-family: 'SourceSansPro-Regular'; line-height: 1.5">
                                    If you didn’t mean to reset your password, then you can just <br> ignore this email; your password will not change.
                                </td>
                            </tr>
                            <tr style="margin: 16px 228px 0 0">
                                <td style="width: 440px; height: 40px; opacity: 0.9; font-size: 16px; font-family: 'SourceSansPro-Regular'; line-height: 1.5">
                                    Thanks,
                                    <br>Happy Walker Team
                                </td>
                            </tr>
                        </table>
                </center>
            </td>
        </tr>
    </table>
</body>
</html>